@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://th.bing.com/th/id/OIP.XZoeGQ_kuJE7KdjZ0K4tmAHaHZ?w=2510&h=2509&rs=1&pid=ImgDetMain"/ width="600",heigth="100">
    
</div>
